<%= form_with(model: [commentable, comment]) do |form| %>
  <%= form.text_field :content, placeholder: t('views.comment.placeholder'), required: true %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
