<%= form_with(model: [commentable, comment]) do |form| %>
  <%= form.text_field :content, placeholder: 'コメントする', required: true %>

  <div class="actions">
    <%= form.submit 'コメントを送信' %>
  </div>
<% end %>
