<h1><%= t('views.common.title_index', name: i18n_pluralize(User.model_name.human)) %></h1>

<ul>
  <% @users.each do |user| %>
    <li><%= link_to user.email, user %></li>
  <% end %>
</ul>

<%= paginate @users %>
